<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Welcome to jungle.com,</h1>
    <p>
      You have successfully purchased up to example.com,
      your username is: <br>
    </p>
    <p>
      To login to the site, just follow this.
    </p>
    <p>Thanks for your purchase and have a great day!</p>
  </body>
</html>